/* CARD PRODUTO */
.buttonText--buy-button-shelf {
  font-size: 14px;
  line-height: 19px;
  font-weight: 700;
  border-radius: 0;
  border: 0;
  color: #1C1C1C;
  text-transform: capitalize;
  padding-left: 26px;
  position: relative;
}

.buttonText--buy-button-shelf::after {
  content: '';
  position: absolute;
  z-index: 0;
  width: 20px;
  height: 17px;
  background: url(assets/icons/icon-add-to-cart.svg);
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  background-size: contain;
}

@media (max-width: 1025px) {
  .buttonText--buy-button-shelf {
    font-size: 16px;
    font-weight: 400;
  }
}

@media (max-width: 768px) {
  .buttonText--buy-button-shelf {
    font-weight: 700;
  }
}

@media (max-width: 420px) {
  .buttonText--buy-button-shelf {
    font-weight: 700;
    font-size: 12px;
  }
}