.newsletterForm {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  width: 100%;
  max-width: 383px;
}
.emailInputContainer {
  position: relative;
  z-index: 0;
  width: 100%;
  max-width: 286px;
}
.emailInputContainer :global(.vtex-input__error) {
  position: absolute;
  bottom: 0;
  right: 15px;
  font-size: 10px;
  margin: 0;
}
.emailInputContainer :global(.vtex-input-prefix__group) {
  height: initial;
  border-radius: 0;
  border: 0;
}
.emailInputContainer :global(.vtex-input-prefix__group):hover,
.emailInputContainer :global(.vtex-styleguide-9-x-input):hover {
  border-color: transparent;
}
.emailInputContainer :global(.vtex-styleguide-9-x-input) {
  padding: 10px 25px;
  font-size: 12px;
  line-height: 16px;
  width: 286px;
  border-radius: 65px;
}
.emailInputContainer :global(.vtex-styleguide-9-x-input)::placeholder {
  color: #1c1c1c;
}

.formSubmitContainer :global(.vtex-button) {
  border: 0;
  border-radius: 0;
  background: #660066;
  font-size: 15px;
  text-transform: initial;
  min-height: initial;
  padding: 10px 25px;
  width: 100%;
  max-width: 89px;
  line-height: 22px;
  height: 32px;
  border-radius: 41px;
}
.formSubmitContainer :global(.vtex-button__label) {
  padding: 0 !important;
  font-size: 14px;
  font-weight: 700;
  line-height: 19px;
}

.defaultSuccessMessage {
  color: #FFFFFF;
  font-weight: 700;
}

@media (max-width: 991px) {
  .newsletterForm {
    justify-content: center;
    gap: 8px;
    margin: 0 auto;
  }
  .emailInputContainer :global(.vtex-styleguide-9-x-input) {
    max-width: 291px;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
  }
}