.quantitySelectorContainer {
  margin: 0;
}
.quantitySelectorContainer :global(.vtex-numeric-stepper-container) {
  position: relative;
  z-index: 0;
  max-width: 57px;
  width: 100%;
}
.quantitySelectorContainer--pdp :global(.vtex-numeric-stepper-container) {
  max-width: 66px;
}
.quantitySelectorContainer :global(.vtex-numeric-stepper__input) {
  width: 35px;
  height: 42px;
  padding: 0;
  border: 1px solid #EEEEEE;
  border-radius: 2px;
}
.quantitySelectorContainer :global(.vtex-numeric-stepper__plus-button-container),
.quantitySelectorContainer :global(.vtex-numeric-stepper__minus-button-container) {
  position: absolute;
  right: 0;
  z-index: 5;
}
.quantitySelectorContainer :global(.vtex-numeric-stepper__plus-button-container) {
  top: 0;
}
.quantitySelectorContainer :global(.vtex-numeric-stepper__minus-button-container) {
  bottom: 0;
}
.quantitySelectorContainer :global(.vtex-numeric-stepper__plus-button),
.quantitySelectorContainer :global(.vtex-numeric-stepper__minus-button) {
  max-width: 20px;
  height: 20px;
  border-radius: 2px !important;
  background: #FF6600;
  border: 0;
  color: #000000;
  align-items: center;
}

.quantitySelectorContainer :global(.vtex-numeric-stepper__plus-button__text),
.quantitySelectorContainer :global(.vtex-numeric-stepper__minus-button__text) {
  font-size: 14px;
  position: relative;
  transform: scale(1.25);
}

/* PDP */

:global(.vtex-flex-layout-0-x-flexRow--actions-pdp-container) .quantitySelectorContainer :global(.vtex-numeric-stepper__input) {
  width: 39px;
  height: 51px;
}

:global(.vtex-flex-layout-0-x-flexRow--actions-pdp-container) .quantitySelectorContainer :global(.vtex-numeric-stepper__plus-button),
:global(.vtex-flex-layout-0-x-flexRow--actions-pdp-container) .quantitySelectorContainer :global(.vtex-numeric-stepper__minus-button) {
  width: 24px !important;
  max-width: 24px;
  height: 24px;
}