.overlay--visible {
  background-color: #212121;
}

.drawer {
  background-color: #f3f3f3;
}

.closeIconButton {
  padding: 0;
  margin: 27px 0 0 32px;
}
.closeIcon {
  width: 16px;
  fill: #1E1E1E;
}

.openIconContainer {
  height: 74px;
  display: flex;
  z-index: 5;
}

.openIconContainer,
.openIconContainer :global(.vtex-button__label) {
  padding: 0;
}

.openIconContainer :global(.vtex-button__label) {
  justify-content: center;
}

.openIconContainer :global(.vtex-button) {
  border: 0;
  min-width: 94px;
  min-height: initial;
}

.openIconContainer :global(.vtex-button):focus {
  background: unset;
}

.openIconContainer :global(.vtex-button):hover {
  background: transparent;
}

.minicartIconContainer {
  color: #202020;
}

.minicartQuantityBadge {
  background: #99CC33;
  font-weight: 700;
  top: -5px;
  left: 17px;
  color: #1E1E1E;
}

.drawerContent {
  position: relative;
  z-index: 0;
}

.closeIconContainer {
  position: absolute;
}

.minicartSideBarContentWrapper {
  height: 100% !important;
}

.minicartTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  padding: 25px;
  margin: 0;
  background-color: #FFCC00;
  color: #1C1C1C;
}

.minicartTitle::before {
  content: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2222%22%20viewBox%3D%220%200%2024%2022%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22M8.5376%2019.151C8.5376%2020.2965%209.46951%2021.2284%2010.615%2021.2284C11.7604%2021.2284%2012.6924%2020.2965%2012.6924%2019.151C12.6924%2018.0055%2011.7604%2017.0736%2010.615%2017.0736C9.46951%2017.0736%208.5376%2018.0055%208.5376%2019.151ZM10.615%2018.4585C10.9968%2018.4585%2011.3074%2018.7692%2011.3074%2019.151C11.3074%2019.5328%2010.9968%2019.8435%2010.615%2019.8435C10.2332%2019.8435%209.92252%2019.5328%209.92252%2019.151C9.92252%2018.7692%2010.2332%2018.4585%2010.615%2018.4585Z%22%20fill%3D%22%231C1C1C%22%2F%3E%3Cpath%20d%3D%22M15.5083%2019.151C15.5083%2020.2965%2016.4402%2021.2284%2017.5857%2021.2284C18.7312%2021.2284%2019.6631%2020.2965%2019.6631%2019.151C19.6631%2018.0055%2018.7312%2017.0736%2017.5857%2017.0736C16.4402%2017.0736%2015.5083%2018.0055%2015.5083%2019.151ZM17.5857%2018.4585C17.9675%2018.4585%2018.2781%2018.7692%2018.2781%2019.151C18.2781%2019.5328%2017.9675%2019.8435%2017.5857%2019.8435C17.2039%2019.8435%2016.8932%2019.5328%2016.8932%2019.151C16.8932%2018.7692%2017.2039%2018.4585%2017.5857%2018.4585Z%22%20fill%3D%22%231C1C1C%22%2F%3E%3Cpath%20d%3D%22M23.1252%203.22439H5.59747C5.36037%202.3944%205.13943%201.62106%204.94965%200.956809C4.86475%200.659512%204.59299%200.454544%204.28382%200.454544H0.874101C0.491678%200.454544%200.181641%200.764582%200.181641%201.14701C0.181641%201.52943%200.491678%201.83947%200.874101%201.83947H3.76148C4.53583%204.55003%206.34611%2010.8862%207.10505%2013.5425L6.8427%2014.0672C6.15139%2015.4499%207.15818%2017.0736%208.7008%2017.0736H20.3553C20.7378%2017.0736%2021.0478%2016.7636%2021.0478%2016.3811C21.0478%2015.9987%2020.7378%2015.6887%2020.3553%2015.6887H8.7008C8.18579%2015.6887%207.85134%2015.1468%208.08142%2014.6866L8.27281%2014.3038H20.3553C20.6645%2014.3038%2020.9362%2014.0988%2021.0212%2013.8015L23.791%204.10709C23.9172%203.66553%2023.5854%203.22439%2023.1252%203.22439ZM19.833%2012.9188H8.36722C7.98992%2011.5982%206.93396%207.90242%205.99314%204.60931H22.2072L19.833%2012.9188Z%22%20fill%3D%22%231C1C1C%22%2F%3E%3C%2Fsvg%3E");
  line-height: 0;
}

.minicartProductListContainer {
  padding: 24px;
  height: calc(100vh - 77px - 235px);
  height: calc(100dvh - 77px - 235px);
  background-color: #F3F3F3;
}

.minicartEmptyStateContainer {
  margin-top: 32px;
}

.minicartSummary {
  padding: 0;
}

.minicartCheckoutButton {
  margin: 0;
  padding: 0;
}

.minicartCheckoutButton :global(.vtex-button) {
  background: #99CC33;
  border: 0;
  padding: 12px 16px;
  border-radius: 0px;
  min-height: initial;
  transition: all 0.3s ease-in-out;
  border-radius: 52px;
}

.minicartCheckoutButton :global(.vtex-button):hover {
  background: #8DBE2A;
}

.minicartCheckoutButton :global(.vtex-button__label) {
  font-size: 0;
  padding: 0;
}

.minicartCheckoutButton :global(.vtex-button__label)::before {
  content: 'Finalizar Compra';
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  text-transform: capitalize;
  color: #1C1C1C;
}

@media (max-width: 1025px) {
  .openIconContainer :global(.vtex-button) {
    padding: 0;
    min-width: initial;
  }
  .openIconContainer {
      height: initial;
    }

  .openIconContainer :global(.vtex-button)::after {
    display: none;
  }
}

@media screen and (max-width: 639px) {
  .closeIconButton {
    margin: 6px 0 0 15px;
  }

  .minicartTitle {
    padding: 24px 0;
    margin: 0;
    font-size: 20px;
    line-height: 25px;
    text-transform: uppercase;
  }

  .minicartProductListContainer {
    padding: 24px 15px;
    height: calc(100vh - 74px - 138px);
    height: calc(100dvh - 74px - 138px);
  }

  .minicartCheckoutButton :global(.vtex-button) {
    padding: 10px;
  }
}