.container {
    display: grid;
}

.stars {
    display: flex;
    gap: 2px;
}

.summaryContainer {
    display: flex;
    gap: 12px;
    align-items: center;
}

.star--empty {
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
    display: flex;
    font-size: 0px;
    background-image: url(assets/icons/icon-star-empty.svg);
}

.star--filled {
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
    display: flex;
    font-size: 0px;
    background-image: url(assets/icons/icon-star-filled.svg);
}

.container {
    padding: 0;
    position: relative;
}

.reviewsOrderBy {
    display: none;
}

.reviewInfo {
    display: flex;
    flex-direction: column-reverse;
    order: 3;
}

.reviewAuthorBy,
.reviewDateSubmitted {
    display: none;
}

.reviewCommentUser {
    font-family: Nunito;
    font-size: 14px;
    font-weight: 700;
    line-height: 19.1px;
    text-align: left;
    color: #3F3F3F;    
    margin-bottom: 2px;
}

.reviewCommentMessage  {
    font-size: 14px;
    font-weight: 400;
    line-height: 19.1px;
    text-align: left;
    color: #3F3F3F;
}

.reviewCommentRating {
    margin-bottom: 2px;
}

.reviewInfo  {
    font-size: 14px;
    font-weight: 400;
    line-height: 19.1px;
    text-align: left;
    color: #3F3F3F;
    margin-bottom: 0;
    margin-top: 0;
}

.reviewAuthorName,
.reviewDateValue {
    font-weight: 400 !important;
}
.reviewDateValue {
    font-size: 12px;
}

.reviewVerifiedPurchase {
    display: none !important;
}

.reviewComment {
    position: relative;
    border: unset;
    padding: 0;
}

.reviewComment .stars {
    position: absolute;
    bottom: 22px;
    right: 0;
}

.reviewsHeading {
    font-family: Nunito;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.82px;
    text-align: left;
    color: #000;
    padding-left: 28px;
    position: relative;
    margin: 0;
    margin-bottom: 16px;
    border-bottom: 0;
}

.reviewsHeading::after {
    content: '';
    position: absolute;
    z-index: 0;
    width: 22px;
    height: 22px;
    background: url(assets/icons/icon-rating.png);
    bottom: 2px;
    left: 0;
}

.writeReviewContainer {
    order: 10;
    position: relative;
    margin: 0;
}

.summaryTotalReviews {
    font-family: Nunito;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #666;
    position: relative;
    top: 1px;
}

.reviewsRating {
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
}

.reviewsRatingCount {
    font-family: Nunito;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #666;
    margin-top: 4px;
}

.loginLink,
.writeReviewButton {
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    color: #1c1c1c;
    padding: 0;
    width: 65px;
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 6px;
    border-bottom: 1px solid #1C1C1C;
}
.loginLink:hover,
.writeReviewButton:hover {
    color: #1c1c1c;
}

.loginLink::after,
.writeReviewButton::after {
    content: url(assets/icons/icon-seta-avaliar.svg);
    line-height: 0;
}

.reviewsRatingAverage {
    font-family: Nunito;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #3F3F3F;
    position: absolute;
    left: -34px;
    top: 0;
}

.reviewsPaging :global(.vtex-button) {
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 4px;
    transition: all .3s;
}

.reviewsPaging :global(.vtex-button):hover {
    border-color: #660066;
}

.formContainer  {
    padding: 0;
    box-shadow: unset;
    border: unset;
    margin: 0;
}

.formSection {
    margin: 16px 0;
}

.formReview :global(.vtex-textarea__label) {
    font-size: 0;
}
.formReview :global(.vtex-textarea__label)::before {
    content: 'Escreva uma avaliação';
    font-size: 14px;
    line-height: 19px;
}