/* CARD PRODUTO */
.currencyContainer--selling-price-summary {
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  color: #1E1E1E;
}
.installments--installments-summary {
  font-size: 14px;
  line-height: 17px;
  display: inline-block;
  margin-top: 4px;
}
.listPriceValue--list-price-summary {
  font-size: 14px;
  line-height: 17px;
  color: #979797;
  display: inline-block;
}
.spotPrice {
  color: #4F4F4F;
}

/* PÁGINA DO PRODUTO */

.listPrice--list-price-pdp {
  font-family: Nunito;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.1px;
  text-align: left;
  text-decoration-line: line-through;
  color: #A2A2A2;
}
.sellingPrice--selling-price-pdp {
  display: block;
  margin: 0 0 4px;
}
.sellingPriceValue--selling-price-pdp {
  font-family: Nunito;
  font-size: 32px;
  font-weight: 700;
  line-height: 43.65px;
  text-align: left;
  color: #000;
}

.sellingPrice--selling-price-pdp {
  margin: 0;
}

.savings--savings-pdp {
  padding: 2px 10px;
  background-color: #FFCC00;
  border-radius: 47px;
  font-family: Nunito;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.1px;
  text-align: left;
  color: #1C1C1C;
}

.installments--installments-pdp {
  font-size: 14px;
  color: #666666;
  font-weight: 400;
  line-height: 19px;
  margin-top: 2px;
  display: inline-block;
}

@media (max-width: 1025px) {
  .listPrice--list-price-summary::before,
  .sellingPrice--selling-price-summary:not(.sellingPrice--selling-price-summary--hasListPrice)::before {
    display: none;
  }

  :global(.vtex-flex-layout-0-x-flexCol--spot-price-summary-content) .spotPrice {
    padding-top: 8px;
    border-top: 1px solid #CCCCCC;
  }

  .listPriceValue--list-price-summary {
    font-size: 12px;
    line-height: 15px;
    margin-right: 5px;
  }

  .installments--installments-summary,
  :global(.vtex-flex-layout-0-x-flexCol--spot-price-summary-content) .spotPrice {
    font-size: 14px;
    line-height: 19px;
  }
}