.container {
  background: #fff;
}

.wrapper--sticky-header .container--sticky-header {
  transition: all 0.3s ease-in-out;
  transform: translateY(0);
}

.wrapper--sticky-header.wrapper--stuck .container--sticky-header {
  transform: translateY(0);
}
