.paragraph {
  color: #1E1E1E;
}

/*TOPLINE*/
.container--text-topbar {
  justify-content: center;
}
.paragraph--text-topbar {
  font-size: 14px;
  line-height: 19.1px;
  color: #fff;
  margin: 11px 0;
  font-weight: 700;
}
/*FIM TOPLINE*/

/* INFOS MENU ABAIXO DA PESQUISA */

.wrapper--menu-bottom-search {
  padding: 3px 10px;
}

.wrapper--menu-bottom-search .link {
  font-family: Nunito;
  font-size: 12px;
  font-weight: 400;
  line-height: 16.37px;
  color: #1C1C1C;
  position: relative;
  padding-left: 22px;
}

.wrapper--menu-bottom-search .link::after {
  content: '';
  width: 16px;
  height: 16px;
  position: absolute;
  left: 0;
  top: 0;
}

.wrapper--menu-bottom-search.wrapper--menu-lista-presentes .link::after {
  background-image: url(assets/icons/icon-presentes.svg);
}

.wrapper--menu-lista-presentes,
.wrapper--menu-cartao-maravilhas,
.wrapper--menu-nossas-lojas {
  transition: all .4s;
}

.wrapper--menu-lista-presentes:hover,
.wrapper--menu-cartao-maravilhas:hover,
.wrapper--menu-nossas-lojas:hover {
  background-color: #EEEEEE;
  border-radius: 32px;
}

.wrapper--menu-bottom-search.wrapper--menu-cartao-maravilhas .link::after {
  background-image: url(assets/icons/icon-cartao.svg);
}

.wrapper--menu-bottom-search.wrapper--menu-nossas-lojas .link::after {
  background-image: url(assets/icons/icon-lojas.svg);
}

.wrapper--menu-bottom-search .paragraph {
  margin: 0;
  line-height: 16px;
}

.paragraph--store-info-link {
  margin: 0;
}
.link--for-companies::before {
  content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M19.0294 6.34695H16.0848V4.50699C16.0848 3.67607 15.4018 3.00014 14.5624 3.00014H9.44092C8.6015 3.00014 7.91859 3.67615 7.91859 4.50699V6.34695H4.97388C3.2447 6.34695 1.83789 7.75375 1.83789 9.48294V18.4384C1.83789 19.8509 2.98699 21 4.39947 21H19.6038C21.0163 21 22.1654 19.8509 22.1654 18.4384V9.48294C22.1654 7.75375 20.7586 6.34695 19.0294 6.34695ZM9.11326 4.50699C9.11326 4.32901 9.25413 4.19481 9.44092 4.19481H14.5624C14.7492 4.19481 14.89 4.32901 14.89 4.50699V6.34695H9.11326V4.50699ZM20.9707 18.4384C20.9707 19.1921 20.3575 19.8053 19.6038 19.8053H4.39947C3.64573 19.8053 3.03257 19.1921 3.03257 18.4384V12.8588C3.21964 12.9762 3.42419 13.0713 3.64366 13.1391C3.6551 13.1426 3.66661 13.1458 3.6782 13.1487L9.76382 14.636V15.1272C9.76382 15.8986 10.3914 16.5261 11.1627 16.5261H12.8406C13.6119 16.5261 14.2394 15.8986 14.2394 15.1272V14.636L20.3251 13.1487C20.3367 13.1459 20.3482 13.1427 20.3596 13.1391C20.5791 13.0713 20.7836 12.9762 20.9707 12.8588V18.4384H20.9707ZM10.9585 15.1272V13.4418C10.9585 13.3292 11.0501 13.2376 11.1627 13.2376H12.8406C12.9532 13.2376 13.0448 13.3292 13.0448 13.4418V15.1272C13.0448 15.2398 12.9532 15.3314 12.8406 15.3314H11.1627C11.0501 15.3314 10.9585 15.2398 10.9585 15.1272ZM20.9707 10.6867C20.9707 11.2873 20.5904 11.81 20.0225 11.9927L14.2386 13.4063C14.2197 12.6513 13.6001 12.0428 12.8406 12.0428H11.1627C10.4033 12.0428 9.78371 12.6513 9.76474 13.4063L3.98077 11.9928C3.41291 11.81 3.03257 11.2873 3.03257 10.6867V9.48294C3.03257 8.41249 3.90343 7.54162 4.97388 7.54162H19.0294C20.0998 7.54162 20.9707 8.41249 20.9707 9.48294V10.6867H20.9707Z" fill="%23FF0066"/></svg>');
  line-height: 0;
}
.link--for-companies {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 4px;
}
.strong--store-info-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

/* FIM INFOS MENU ABAIXO DA PESQUISA */

/* MINICART */

.paragraph--minicart-text {
  position: relative;
  bottom: 23px;
}

.paragraph--utils-text {
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #1C1C1C;
  text-align: center;
}

/* STORE INFOS */
.strong--login-text,
.strong--store-info-text {
  display: flex;
}
.strong--store-info-text::after {
  content: url(assets/icons/chevon-down-header.svg);
  width: 10.88px;
  height: 12px;
}
.paragraph--store-info-popup-text {
  margin: 0;
  font-size: 14px;
}
.link {
  color: inherit;
  text-decoration: none;
  font-weight: 700;
}

/* TITULOS DAS VITRINES */
.container--shelf-title {
  display: block;
}
.heading--shelf-title {
  margin: 0 0 8px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #FF6712;
}

.container--shelf-cta {
  justify-content: end;
}

.paragraph--shelf-cta {
  margin: 0;
}

.link--shelf-cta {
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  color: #1C1C1C;
  padding: 6px 25px;
  border: 1px solid #FF0066;
  border-radius: 41px;
  transition: all .4s;
}

.link--shelf-cta:hover {
  background-color: #FF0066;
}

/* NEWSLETTER */
.paragraph--newsletter-cta {
  margin: 0;
  padding-left: 0;
  font-size: 18px;
  line-height: 24.55px;
  color: #FFFFFF;
  max-width: 225px;
  width: 100%;
  font-weight: 700;
}

/* FOOTER CONTEÚDO */

.paragraph--footer-all-categories {
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  color: #520052;
  margin: 0;
}


.paragraph--brand-resume {
  margin: 49px 0;
  color: #979797;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
}

.heading--footer-title {
  margin: 0 0 16px;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  color: #1C1C1C;
}

.paragraph--cms-link,
.paragraph--sac-group-link {
  margin: 0;
  color: #1C1C1C;
  font-size: 14px;
  transition: all .3s ease-in-out;
  font-weight: 400;
  line-height: 19px;
}
.paragraph--cms-link:hover,
.paragraph--sac-group-link:hover {
  color: #000000;
}
.link--cms-link,
.link--sac-group-link,
:global(.vtex-flex-layout-0-x-flexRowContent--footer-container) :global(.vtex-category-menu-2-x-departmentLink) {
  font-weight: inherit;
  transition: all .3s;
}

.link--cms-link:hover,
.link--sac-group-link:hover,
:global(.vtex-flex-layout-0-x-flexRowContent--footer-container) :global(.vtex-category-menu-2-x-departmentLink):hover {
  text-decoration: underline;
}

.paragraph--sac-group-title {
  margin: 0;
  font-size: 14px;
  color: #000000;
  line-height: 17px;
}

.paragraph--sac-stores {
  display: flex;
  align-items: center;
  gap: 1px;
  border-bottom: 1px solid #979797;
}
.paragraph--sac-stores::after {
  content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none"><mask id="mask0_12285_4462" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="14" height="14"><rect width="14" height="14" fill="%23D9D9D9"/></mask><g mask="url(%23mask0_12285_4462)"><path d="M3.73341 10.5L2.91675 9.68335L8.51675 4.08335H3.50008V2.91669H10.5001V9.91669H9.33342V4.90002L3.73341 10.5Z" fill="%23979797"/></g></svg>');
  line-height: 0;
}

.paragraph--store-info {
  display: flex;
  gap: 8px;
  color: #979797;
  margin: 0;
  font-size: 14px;
  line-height: 17px;
}
.strong--store-info {
  color: #201F1F;
  font-size: 16px;
  line-height: 20px;
}

.heading--footer-subtitle-faq {
  font-family: Nunito;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  color: #1C1C1C;
  margin-bottom: 4px;
  padding-top: 16px;
  margin-top: 16px;
  border-top: 1px solid #ECECEC;
}

.wrapper--footer-subtitle-faq {
  width: 100%;
}

.link--wpp-pj .icon-wpp {
  position: relative;
  padding-left: 22px;
}

.link--wpp-pj .icon-wpp::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 16px;
  height: 16px;
  background-image: url(https://centerlar.vtexassets.com/assets/vtex/assets-builder/centerlar.store-theme/1.0.1/icons/icon-wpp.svg);
}

.container--footer-all-categories {
  margin-top: 8px;
}

/* COPY RODAPÉ */

.container--copy-brand {
  justify-content: center;
}

.paragraph--copy-text {
  margin: 0;
  color: #1c1c1c;
  font-size: 12px;
  line-height: 16px;
}

/* DESCRIÇÃO CATEGORIA */
.wrapper--search-description {
  margin-top: 32px;
}
.heading--description-text {
  font-size: 16px;
  font-weight: 700;
  line-height: 23px;
  margin: 0 0 24px;
  color: #1C1C1C;
}
.paragraph--description-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin: 0;
  color: #1C1C1C;
}
.paragraph--description-text:not(:first-child) {
  margin-top: 24px;
}

.container--label-barra-produtos {
  display: none;
}

/* PÁGINA DO PRODUTO */
.paragraph--shipping-simulator-text {
  font-family: Nunito;
  font-size: 16px;
  font-weight: 400;
  line-height: 21.82px;
  text-align: left;
  color: #000;
  padding-left: 28px; 
  position: relative;
  margin: 0;
  margin-bottom: 16px;
}

.paragraph--shipping-simulator-text::after {
  content: '';
  position: absolute;
  z-index: 0;
  width: 20px;
  height: 20px;
  background: url(assets/icons/icon-frete.svg);
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
}

.wrapper--warning-b2b .paragraph {
  font-family: Nunito;
  font-size: 16px;
  font-weight: 400;
  line-height: 21.82px;
  text-align: left;
  color: #1c1c1c;
  position: relative;
  padding-left: 28px;
  margin: 0;
}

.wrapper--warning-b2b .paragraph::after {
  content: '';
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0;
  top: 0;
  background-image: url(assets/icons/icon-warning-b2b.svg);
}

.wrapper--warning-b2b .link {
  color: #660066;
  font-weight: 400;
  margin-left: 8px;
}


/* PÁGINAS CMS */
.headingLevel1--cms-page-title {
  font-size: 32px;
  font-weight: 700;
  line-height: 41px;
  color: #1C1C1C;
  margin: 0 0 32px;
}
.heading--cms-page-content {
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  margin: 0 0 16px;
  color: #660066;
}
.paragraph--cms-page-content {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin-top: 0;
  color: #000;
}
.listOrdered--cms-page-content,
.list--cms-page-content {
  padding-left: 20px;
}
.listItem--cms-page-content:not(:first-child) {
  margin-top: 16px;
}

.wrapper--subtitle-estilo-cms {
  margin-bottom: 30px;
}

.wrapper--subtitle-estilo-cms .paragraph {
  background-color: #FFCC00;
  padding: 10px 30px;
  font-family: Nunito;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000;
  margin: 0;
  border-radius: 74px;
}

.paragraph--text-quem-somos {
  margin: 0;
}

.paragraph--title-card-oferecemos {
  font-family: Nunito;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #000;
  margin: 0;
  margin-bottom: 16px;
}

.paragraph--text-card-oferecemos {
  font-family: Nunito;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #000;
  margin: 0;
}

.paragraph--title-menu-cms-institucional {
  font-family: Nunito;
  font-weight: 700;
  font-size: 16px;
  color: #1C1C1C;
  line-height: 22px;
  margin: 0;
  margin-bottom: 24px;
}

.paragraph--content-menu-cms-institucional {
  font-family: Nunito;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #666;
  margin: 0;
  margin-bottom: 16px;
}

.link--content-menu-cms-institucional {
  font-weight: 400;
}

:global(.vtex-flex-layout-0-x-flexRow--pagina-nossa-historia) .link--nossa-historia {
  color: #660066;
  font-weight: 700;
  border-bottom: 2px solid #660066;
}

:global(.vtex-flex-layout-0-x-flexRow--pagina-para-empresas) .link--para-empresas {
  color: #660066;
  font-weight: 700;
  border-bottom: 2px solid #660066;
}

.wrapper--titulo-pagina-cms .headingLevel1 {
  font-family: Nunito;
  font-weight: 700;
  font-size: 20px;
  color: #1C1C1C;
  margin: 0;
  margin-bottom: 30px;
  line-height: 27px;
}

/*LOJAS PARCEIRAS*/
.wrapper--conteudo-linha .paragraph--conteudo-linha {
  font-size: 14px;
  line-height: 18px;
  color: #666666;
}
.paragraph--conteudo-linha .link {
  color: #000000;
  font-size: 12px;
  line-height: 15px;
  text-decoration: underline;
}
/*FIM LOJAS PARCEIRAS*/

/*BREADCRUMB CMS*/
.paragraph--cmsbread2 {
  color: #1e1e1e;
  font-size: 12px;
  line-height: 16px;
  padding-left: 10px;
  margin-bottom: 7px;
  position: relative
}
.paragraph--cmsbread2::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8' fill='none'%3E%3Cmask id='mask0_194_8324' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='8' height='8'%3E%3Crect x='8' y='8' width='8' height='8' transform='rotate(180 8 8)' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_194_8324)'%3E%3Cpath d='M2.66667 0.666676L6 4.00001L2.66667 7.33334L2.075 6.74168L4.81667 4.00001L2.075 1.25834L2.66667 0.666676Z' fill='%23767676'/%3E%3C/g%3E%3C/svg%3E");
  line-height: 0;
  line-height: 0;
  position: absolute;
  left: -4px;
  top: 4px
}
.link--cmstopo {
  font-size: 0;
  padding-left: 20px;
}
.link--cmstopo::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24' fill='none'%3E%3Cmask id='mask0_194_8322' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_194_8322)'%3E%3Cpath d='M6 19H9V13H15V19H18V10L12 5.5L6 10V19ZM4 21V9L12 3L20 9V21H13V15H11V21H4Z' fill='%23666666'/%3E%3C/g%3E%3C/svg%3E");
  line-height: 0;
  position: absolute; 
  left: 14px;
  top: 18px
}

@media (max-width: 1199px) {
  .paragraph--newsletter-cta {
    font-size: 14px;
  }
}

@media (max-width: 1025px) {
  .heading--shelf-title {
    margin: 0 0 32px;
    font-size: 20px;
    line-height: 26px;
  }

  .container--newsletter-cta {
    justify-content: center;
  }
  .paragraph--newsletter-cta {
    padding: 0;
  }

  .container--copy-brand {
    justify-content: center;
  }

  .paragraph--brand-resume {
    margin: 32px 0 42px;
  }

  .container--footer-title,
  .container--sac-group-title {
    justify-content: center;
  }
  .heading--footer-title {
    margin: 0 0 25px;
  }

  .container--cms-link,
  .container--sac-group-link {
    justify-content: center;
  }

  .container--copy-text {
    justify-content: center;
  }
}

@media (max-width: 767px) {
  .container--store-info {
    justify-content: center;
  }

  .paragraph--text-topbar {
    font-size: 10px;
  }
  .paragraph--newsletter-cta {
    margin-bottom: 6px;
  }
  .wrapper--search-description {
    margin-top: 56px;
  }
}