:global(.vtex-flex-layout-0-x-flexRow--leve-mais)
  :global(.vtex-flex-layout-0-x-flexRowContent--leve-mais:has(.vtex-flex-layout-0-x-stretchChildrenWidth:not(:empty))) {
    background:#FF6600;
    padding: 2px 8px;
    border-radius: 47px;
}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #a8a8a8;
}
::-webkit-scrollbar-thumb {
  background: #474747;
}

:global(.vtex-button) {
  text-transform: initial;
}

/* Categoria */

:global(.vtex__icon-check) path {
  fill: unset;
}

/* MENU MOBILE */
:global(.vtex-category-menu-2-x-sidebarContainer) > div:last-child {
  padding: 0;
}

.container :global(.vtex-button) {
  border: 0;
  min-height: initial;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 0;
  overflow: hidden;
  flex-direction: column;
}
.profile {
  text-transform: initial;
  color: #1E1E1E;
  display: inline-block;
  max-width: 88px;
  height: 32px;
  align-content: flex-end;
}
.button {
  color: #212121;
  text-transform: initial;
  padding: 0;
}
.button:hover {
  color: #660066;
}
.contentForm :global(.vtex-button) {
  color: #FF6712;
  text-decoration: underline;
}
.contentForm :global(.vtex-button):hover {
  background: none;
}
.contentForm :global(.vtex-button) :global(.vtex-button__label) {
  padding: 6px !important;
}
.container :global(.vtex-button)::before {
  content: url(assets/icons/login.svg);
  line-height: 0;
}
.container :global(.vtex-button):hover,
.container :global(.vtex-button):focus {
  background: transparent;
}
.container :global(.vtex-button) :global(.vtex-button__label) {
  padding: 0 !important;
}
.container :global(.vtex-button) .label {
  padding: 0;
  font-size: 0;
  text-transform: initial;
  color: #1c1c1c;
  display: inline-block;
  text-align: center;
  line-height: 16px;
  position: relative;
  top: 3px;
}
.container :global(.vtex-button) :global(.vtex-login-2-x-label) {
  line-height: 0;
} 
.container :global(.vtex-button) .label::before,
.container :global(.vtex-button) .label::after {
  font-size: 14px;
  line-height: 16px;
  display: block;
  font-weight: 400;
}
.container :global(.vtex-button) .label::before {
  content: 'Entre ou';
}
.container :global(.vtex-button) .label::after {
  content: 'cadastre-se';
}
.arrowUp {
  display: none;
}
.container :global(.vtex-button) :global(.vtex-button__label) * {
  margin: 0;
  padding: 0;
}

.box {
  right: 50% !important;
  transform: translate(50%, 0);
}

.sendButton :global(.vtex-button) {
  background: #202020;
  border: 0;
}
.optionsList :global(.vtex-button) {
  font-size: 14px;
  line-height: 19px;
  min-height: initial;
  color: #1C1C1C;
  background: #fff;
  border: 1px solid #FF6600;
  border-radius: 41px;
  text-transform: initial;
  text-decoration: unset;
  font-weight: 700;
  transition: all .3s ease-in-out;
}

.optionsList :global(.vtex-button):hover {
  background-color: #FF6600;
}

.emailPasswordOptionBtn :global(.vtex-button) {
  background-color: #FF6600;
}
.emailPasswordOptionBtn :global(.vtex-button):hover {
  background-color: #EE5F00;
}

.contentContainer {
  box-shadow: 0px 2px 8px 0px #00000026;
  border-radius: 8px;
  overflow: hidden;
}
.contentContainer .content {
  padding: 32px;
}
.formTitle {
  margin: 0 0 16px;
  padding: 0;
  line-height: 16px;
}
.emailAndPasswordForm .formTitle {
  text-align: left;
}
.optionsList {
  margin: 0;
}
.optionsListItem {
  margin: 0;
}
.optionsListItem:not(:first-child, :last-child) {
  margin-top: 8px;
}

.inputContainer :global(.vtex-styleguide-9-x-input) {
  font-size: 14px;
}

.content--emailVerification {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 32px;
}
.contentContainer .content .contentForm {
  padding: 0;
}
.contentContainer .content :global(.vtex-input-prefix__group) {
  border: 1px solid #EEEEEE;
  height: initial;
  border-radius: 41px;
}
.contentContainer .content :global(.vtex-styleguide-9-x-input) {
  padding: 6px 24px;
  line-height: 19px;
}
.content--emailVerification :global(.vtex-styleguide-9-x-input)::placeholder {
  color: #666666;
}
.content--emailVerification .formFooter {
  border: 0;
  padding: 0;
  display: flex;
  align-items: center;
  min-height: initial;
}
.contentContainer .content .backButton :global(.vtex-button) {
  min-height: initial;
  color: #660066;
  border: 0;
}
.contentContainer .content .backButton :global(.vtex-button__label) {
  padding: 0 !important;
  margin-left: 4px;
}
.contentContainer .content .sendButton :global(.vtex-button) {
  padding: 6px 35px;
  background: #FF6600;
  color: #1C1C1C;
  border-radius: 41px;
  min-height: initial;
  line-height: 19px;
  transition: all 0.3s ease-in-out;
}
.contentContainer .content .sendButton :global(.vtex-button):hover {
  background: #EE5F00;
}
.contentContainer .content .sendButton span {
  font-weight: 700;
}
.forgotPasswordLink,
.dontHaveAccount {
  color: #666666;
}
.content--emailAndPassword .formFooter {
  margin-top: 16px;
  padding-top: 16px;
  border-color: #ECECEC;
}
.formLinkContainer {
  padding: 0;
}

/* MINICART LATERAL */

:global(.vtex-product-list-0-x-inputContainer) input {
  font-family: Nunito;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  color: #000;
}

:global(.vtex-product-list-0-x-quantitySelectorButton) svg {
  display: none
}

/* Página do produto */
:global(.vtex-flex-layout-0-x-flexRowContent--product-breadcrumb-container) > :global(.vtex-flex-layout-0-x-stretchChildrenWidth):first-child {
  max-width: calc(100% - 105px);
  width: 100% !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
:global(.vtex-flex-layout-0-x-flexRowContent--product-main-container)
  > :global(.vtex-flex-layout-0-x-stretchChildrenWidth):first-child {
  max-width: 730px;
  width: 100% !important;
  border-right: 1px solid #ECECEC;
  padding-right: 49px;
}
:global(.vtex-flex-layout-0-x-flexRowContent--product-main-container)
  > :global(.vtex-flex-layout-0-x-stretchChildrenWidth):last-child {
  max-width: 350px;
  width: 100% !important;
}
:global(.vtex-address-form__postalCode-forgottenURL) * {
  color: #666;
}

:global(.vtex-address-form__postalCode-forgottenURL) *:hover {
  text-decoration: unset;
  color: #666;
}
:global(.vtex-address-form__postalCode-forgottenURL)
  :global(.vtex__icon-external-link) {
  display: none;
}

:global(.vtex-address-form__field-empty) :global(.vtex-input-prefix__group) {
  position: relative;
}

:global(.vtex-address-form__field-empty) :global(.vtex-input-prefix__group)::after {
  content: 'Insira o seu CEP';
  position: absolute;
  top: 50%;
  left: 17px;
  transform: translateY(-50%);
  font-family: Nunito;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.1px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  pointer-events: none;
  opacity: 1;
  transition: opacity 0.3s ease;
  color: #666666;
}

/* PAINEL DO CLIENTE */
:global(.vtex-my-account-1-x-menuLinks) :global(.vtex-account_menu-link) {
  border-width: 3px;
  transition: all 0.3s ease-in-out;
  padding: 8px 0 8px 16px;
  font-size: 16px;
  line-height: 22px;
  color: #3F3F3F;
}
:global(.vtex-my-account-1-x-menuLinks)
  :global(.vtex-account_menu-link.b--action-primary),
:global(.vtex-my-account-1-x-menuLinks) :global(.vtex-account_menu-link):hover {
  border-color: #FF0066;
  color: #1A1A1A;
}
:global(.vtex-account) :global(.vtex-pageHeader__container) > div {
  margin: 0;
}
:global(.vtex-my-account-1-x-profileBoxContainer) > div,
:global(.vtex-my-account-1-x-newsletterBoxContainer) > div {
  padding: 0;
}
:global(.vtex-my-account-1-x-profileBoxContainer) > div {
  margin-right: 41px;
}
:global(.vtex-profile-form-3-x-profileSummary) > div + div {
  margin: 32px 0 0;
}
:global(.vtex-profile-form-3-x-profileSummary) > div > div {
  margin: 0;
}
:global(.vtex-my-account-1-x-profileEdit)
  :global(.vtex-profile-form-3-x-profileContainer)
  > :global(.vtex-button),
.sendButton :global(.vtex-button) {
  background: #FF6712;
  border: 0;
  padding: 12px 16px;
  border-radius: 41px;
  transition: all 0.3s ease-in-out;
  color: #1C1C1C;
  text-transform: initial;
  text-decoration: none;
}
:global(.vtex-my-account-1-x-profileEdit)
  :global(.vtex-profile-form-3-x-profileContainer)
  > :global(.vtex-button:hover),
.sendButton :global(.vtex-button):hover {
  background: #FF6712;
}
:global(.vtex-my-account-1-x-profileEdit)
  :global(.vtex-profile-form-3-x-profileContainer)
  :global(.vtex-button__label),
.sendButton :global(.vtex-button) :global(.vtex-button__label) {
  padding: 0 !important;
}
:global(.vtex-profile-form-3-x-toggleBusinessButtonWrapper) :global(.vtex-button) {
  background: transparent;
  border: 1px solid #FF6600;
  text-transform: initial;
  border-radius: 41px;
  color: #1C1C1C;
  transition: all .3s ease-in-out;
}
:global(.vtex-profile-form-3-x-toggleBusinessButtonWrapper) :global(.vtex-button):hover {
  background: #FF6600;
}

:global(.vtex-pageHeader-link__container) :global(.vtex-button) span {
  text-transform: initial;
}

:global(.vtex-my-account-1-x-boxContainerBody)
  :global(.vtex-address-form__postalCode-forgottenURL)
  a {
  color: #FF6712;
  font-size: 14px;
  line-height: 19px;
}

:global(.vtex-my-account-1-x-addressBox)
  :global(.vtex-my-account-1-x-boxContainerBody)
  > div {
  padding: 0;
}

:global(.vtex-flex-layout-0-x-flexRowContent--store-info-container) > :global(.vtex-flex-layout-0-x-stretchChildrenWidth):first-child {
  max-width: 352px;
  width: 100% !important;
  padding: 0;
}

/* PDP */
:global(.vtex-store-components-3-x-productDescriptionText) h1,
:global(.vtex-store-components-3-x-productDescriptionText) h2,
:global(.vtex-store-components-3-x-productDescriptionText) h3,
:global(.vtex-store-components-3-x-productDescriptionText) h4,
:global(.vtex-store-components-3-x-productDescriptionText) h5,
:global(.vtex-store-components-3-x-productDescriptionText) h6 {
  font-size: 16px;
  font-weight: 700
}
:global(.vtex-flex-layout-0-x-flexColChild--buy-pdp-content) :global(.vtex-button.bg-disabled) {
  background: #f2f4f5;
  color: rgb(28, 28, 28);
}

:global(.vtex-flex-layout-0-x-flexColChild--summary-action-content) :global(.vtex-button.bg-disabled) {
  background: #f2f4f5;
}

/* AVALIAÇÕES E COMENTÁRIOS PDP */

:global(.vtex-reviews-and-ratings-3-x-reviewComment) > div {
  display: flex;
  flex-direction: column;
}

:global(.vtex-reviews-and-ratings-3-x-reviewsPaging) :global(.flex.flex-row.items-center.justify-end) {
  justify-content: start;
}

/* SUCESSO DO PEDIDO */
:global(.vtex-order-placed-2-x-confirmationIconWrapper) > svg {
  display: none;
}

:global(.vtex-reviews-and-ratings-3-x-reviewsPaging) :global(.flex.flex-row.pt5.items-center) {
  align-items: end !important;
  padding: 0;
}

:global(.vtex-reviews-and-ratings-3-x-writeReviewContainer) :global(.vtex-styleguide-9-x-jsFocusVisible) :global(.c-action-primary.mr3.self-center) {
  display: none !important;
}

:global(.vtex-reviews-and-ratings-3-x-formContainer) :global(.vtex-card) {
  padding: 0 !important;
  margin-top: 32px;
  box-shadow: unset !important;
}

:global(.vtex-reviews-and-ratings-3-x-formContainer) h3 {
  display: none !important;
}

:global(.vtex-reviews-and-ratings-3-x-formSection) :global(.vtex-styleguide-9-x-input) {
  background-color: #ECECEC;
  border-radius: 59px;
  height: 35px;
  border: unset;
}

:global(.vtex-reviews-and-ratings-3-x-formSection) :global(.vtex-input-prefix__group) {
  border: unset;
}

:global(.vtex-reviews-and-ratings-3-x-formSection) :global(.vtex-input__label),
:global(.vtex-reviews-and-ratings-3-x-formSection) :global(.vtex-textarea__label) {
  margin-bottom: 6px;
  font-family: Nunito;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #3F3F3F;
}

:global(.vtex-reviews-and-ratings-3-x-starpicker) :global(.t-heading-4.pointer) {
  display: flex;
}

:global(.vtex-reviews-and-ratings-3-x-formSection) :global(.vtex-textarea__input) {
  height: 92px;
  background-color: #ECECEC;
  border-radius: 15px;
  border: unset;
}

:global(.vtex-reviews-and-ratings-3-x-formSubmit) :global(.vtex-button) {
  border: 1px solid #FF6600;
  border-radius: 41px;
  background-color: #fff;
  cursor: pointer;
  transition: all .4s;
}

:global(.vtex-reviews-and-ratings-3-x-formSubmit) :global(.vtex-button):hover {
  background-color: #FF6600;
}

:global(.vtex-reviews-and-ratings-3-x-formSubmit) :global(.vtex-button__label) {
  font-family: Nunito;
    font-size: 14px;
    font-weight: 700;
    line-height: 19px;
    text-align: center;
    color: #1C1C1C;
    text-transform: capitalize;
    padding: 8px 24px;
}

:global(.vtex-flex-layout-0-x-flexColChild--summary-action-content) :global(.vtex-button) * {
  color: #1C1C1C;
}

@media (min-width: 1100px) {
  .container :global(.vtex-button):hover {
    background: #f4f4f426;
  }
}

@media screen and (max-width: 1025px) {
  :global(.vtex-flex-layout-0-x-flexRowContent--product-main-container)
  > :global(.vtex-flex-layout-0-x-stretchChildrenWidth):first-child {
    max-width: 100%;
    border: 0;
    padding: 0;
  }
  :global(.vtex-flex-layout-0-x-flexRowContent--product-main-container)
  > :global(.vtex-flex-layout-0-x-stretchChildrenWidth):last-child {
    max-width: 388px;
  }

  :global(.vtex-search-result-3-x-filterAccordionBreadcrumbs) + :global(.vtex-search-result-3-x-accordionFilterContainer) {
    padding-top: 0;
    margin-top: 0;
    border: 0;
  }
  .container :global(.vtex-button) {
    width: initial;
    flex-direction: row;
  }
    .container :global(.vtex-button) .label {
      display: none;
    }

    :global(.vtex-flex-layout-0-x-flexRowContent--releases-products-container) > :global(.vtex-flex-layout-0-x-stretchChildrenWidth):first-child {
      width: 33.33% !important;
    }
    :global(.vtex-flex-layout-0-x-flexRowContent--releases-products-container) > :global(.vtex-flex-layout-0-x-stretchChildrenWidth):last-child {
      width: 66.66% !important;
    }
    
  .container :global(.vtex-button)::before {
    content: url("data:image/svg+xml,%3Csvg%20width%3D%2222%22%20height%3D%2222%22%20viewBox%3D%220%200%2022%2022%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M11.3333%201C8.57633%201%206.33333%203.36566%206.33333%206.27344C6.33333%209.18121%208.57633%2011.5469%2011.3333%2011.5469C14.0903%2011.5469%2016.3333%209.18121%2016.3333%206.27344C16.3333%203.36566%2014.0903%201%2011.3333%201ZM11.3333%2010.375C9.189%2010.375%207.44444%208.53504%207.44444%206.27344C7.44444%204.01184%209.189%202.17188%2011.3333%202.17188C13.4777%202.17188%2015.2222%204.01184%2015.2222%206.27344C15.2222%208.53504%2013.4777%2010.375%2011.3333%2010.375Z%22%20fill%3D%22%23FF0066%22/%3E%3Cpath%20d%3D%22M17.5543%2014.992C16.1854%2013.5261%2014.3707%2012.7188%2012.4444%2012.7188H10.2222C8.296%2012.7188%206.48126%2013.5261%205.11237%2014.992C3.75019%2016.4507%203%2018.3763%203%2020.4141C3%2020.7377%203.24874%2021%203.55556%2021H19.1111C19.4179%2021%2019.6667%2020.7377%2019.6667%2020.4141C19.6667%2018.3763%2018.9165%2016.4507%2017.5543%2014.992ZM4.13556%2019.8281C4.41389%2016.5045%207.03744%2013.8906%2010.2222%2013.8906H12.4444C15.6292%2013.8906%2018.2528%2016.5045%2018.5311%2019.8281H4.13556Z%22%20fill%3D%22%23FF0066%22/%3E%3C/svg%3E");
  }

  :global(.vtex-store-components-3-x-userAddressContainer--shopper-location) > section > div > div {
    justify-content: center;
  }

  .box {
    right: -30px !important;
    transform: translate(0, 0);
  }

  :global(.vtex-my-account-1-x-profileBoxContainer) > div {
    margin-right: 30px;
  }
}

@media (max-width: 767px) {
  :global(.vtex-account__page-body) > main {
    gap: 15px;
  }
  :global(.vtex-account__page-body) > main > div {
    width: 100%;
  }
  :global(.vtex-my-account-1-x-profileBoxContainer) > div {
    margin-right: 0;
  }

  :global(.vtex-flex-layout-0-x-flexRowContent--store-info-container) > :global(.vtex-flex-layout-0-x-stretchChildrenWidth):first-child {
    padding: 0;
  }
}

@media (max-width: 720px) {
  :global(.vtex-my-account-1-x-addressBox) > div,
  :global(.vtex-account__page-body) > div {
    max-width: 100%;
    width: 100%;
    padding-right: 0;
    flex-wrap: wrap;
  }

  :global(.vtex-my-account-1-x-profile__header) > div:first-child {
    display: block;
  }
  :global(.vtex-my-account-1-x-profile__header) > div:last-child {
    display: none;
  }
}

@media screen and (max-width: 649px) {
  :global(.vtex-flex-layout-0-x-flexRowContent--releases-products-container) > :global(.vtex-flex-layout-0-x-stretchChildrenWidth):first-child,
  :global(.vtex-flex-layout-0-x-flexRowContent--releases-products-container) > :global(.vtex-flex-layout-0-x-stretchChildrenWidth):last-child {
    width: 50% !important;
  }
}