.paragraph {
  color: #1E1E1E;
}

/*TOPLINE*/
.container--text-topbar {
  justify-content: center;
}
.paragraph--text-topbar {
  font-size: 14px;
  font-weight: 400;
  line-height: 19.1px;
  color: #fff;
  margin: 11px 0;
}
/*FIM TOPLINE*/

/* INFOS MENU ABAIXO DA PESQUISA */

.wrapper--menu-bottom-search {
  padding: 3px 10px;
}

.wrapper--menu-bottom-search .link {
  font-family: Nunito;
  font-size: 12px;
  font-weight: 400;
  line-height: 16.37px;
  color: #1C1C1C;
  position: relative;
  padding-left: 22px;
}

.wrapper--menu-bottom-search .link::after {
  content: '';
  width: 16px;
  height: 16px;
  position: absolute;
  left: 0;
  top: 0;
}

.wrapper--menu-bottom-search.wrapper--menu-lista-presentes .link::after {
  background-image: url(assets/icons/icon-presentes.svg);
}

.wrapper--menu-lista-presentes,
.wrapper--menu-cartao-maravilhas,
.wrapper--menu-nossas-lojas {
  transition: all .4s;
}

.wrapper--menu-lista-presentes:hover,
.wrapper--menu-cartao-maravilhas:hover,
.wrapper--menu-nossas-lojas:hover {
  background-color: #EEEEEE;
  border-radius: 32px;
}

.wrapper--menu-bottom-search.wrapper--menu-cartao-maravilhas .link::after {
  background-image: url(assets/icons/icon-cartao.svg);
}

.wrapper--menu-bottom-search.wrapper--menu-nossas-lojas .link::after {
  background-image: url(assets/icons/icon-lojas.svg);
}

.wrapper--menu-bottom-search .paragraph {
  margin: 0;
}

/* FIM INFOS MENU ABAIXO DA PESQUISA */

/* MINICART */

.paragraph--minicart-text {
  position: relative;
  bottom: 23px;
}

.paragraph--utils-text {
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #1C1C1C;
  text-align: center;
}

/* STORE INFOS */
.strong--login-text,
.strong--store-info-text {
  display: flex;
}
.strong--store-info-text::after {
  content: url(assets/icons/chevon-down-header.svg);
  width: 10.88px;
  height: 12px;
}
.paragraph--store-info-popup-text {
  margin: 0;
  font-size: 14px;
}
.link {
  color: inherit;
  text-decoration: none;
  font-weight: 700;
}

/* TITULOS DAS VITRINES */
.container--shelf-title {
  display: block;
}
.heading--shelf-title {
  margin: 0 0 16px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #FF6712;
}

.container--shelf-cta {
  justify-content: end;
}

.paragraph--shelf-cta {
  margin: 0;
}

.link--shelf-cta {
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  color: #1C1C1C;
  padding: 6px 25px;
  border: 1px solid #FF0066;
  border-radius: 41px;
  transition: all .4s;
}

.link--shelf-cta:hover {
  background-color: #FF0066;
}

/* NEWSLETTER */
.paragraph--newsletter-cta {
  margin: 0;
  padding-left: 0;
  font-size: 18px;
  line-height: 24.55px;
  color: #FFFFFF;
  max-width: 225px;
  width: 100%;
  font-weight: 700;
  text-align: center;
}

/* FOOTER CONTEÚDO */

.paragraph--footer-all-categories {
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  color: #520052;
  margin: 0;
}


.paragraph--brand-resume {
  margin: 49px 0;
  color: #979797;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
}

.heading--footer-title {
  margin: 0 0 16px;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  color: #1C1C1C;
}

.paragraph--cms-link,
.paragraph--sac-group-link {
  margin: 0;
  color: #1C1C1C;
  font-size: 14px;
  transition: all .3s ease-in-out;
  font-weight: 400;
  line-height: 19px;
}
.paragraph--cms-link:hover,
.paragraph--sac-group-link:hover {
  color: #000000;
}
.link--cms-link,
.link--sac-group-link,
:global(.vtex-flex-layout-0-x-flexRowContent--footer-container) :global(.vtex-category-menu-2-x-departmentLink) {
  font-weight: inherit;
  transition: all .3s;
}

.link--cms-link:hover,
.link--sac-group-link:hover,
:global(.vtex-flex-layout-0-x-flexRowContent--footer-container) :global(.vtex-category-menu-2-x-departmentLink):hover {
  text-decoration: underline;
}

.paragraph--sac-group-title {
  margin: 0;
  font-size: 14px;
  color: #000000;
  line-height: 17px;
}

.paragraph--sac-stores {
  display: flex;
  align-items: center;
  gap: 1px;
  border-bottom: 1px solid #979797;
}
.paragraph--sac-stores::after {
  content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none"><mask id="mask0_12285_4462" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="14" height="14"><rect width="14" height="14" fill="%23D9D9D9"/></mask><g mask="url(%23mask0_12285_4462)"><path d="M3.73341 10.5L2.91675 9.68335L8.51675 4.08335H3.50008V2.91669H10.5001V9.91669H9.33342V4.90002L3.73341 10.5Z" fill="%23979797"/></g></svg>');
  line-height: 0;
}

.paragraph--store-info {
  display: flex;
  gap: 8px;
  color: #979797;
  margin: 0;
  font-size: 14px;
  line-height: 17px;
}
.strong--store-info {
  color: #201F1F;
  font-size: 16px;
  line-height: 20px;
}

.heading--footer-subtitle-faq {
  font-family: Nunito;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  color: #1C1C1C;
  margin-bottom: 4px;
  padding-top: 16px;
  margin-top: 16px;
  border-top: 1px solid #ECECEC;
}

.wrapper--footer-subtitle-faq {
  width: 100%;
}

.link--wpp-pj .icon-wpp {
  position: relative;
  padding-left: 22px;
}

.link--wpp-pj .icon-wpp::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 16px;
  height: 16px;
  background-image: url(https://centerlar.vtexassets.com/assets/vtex/assets-builder/centerlar.store-theme/1.0.1/icons/icon-wpp.svg);
}

.container--footer-all-categories {
  margin-top: 8px;
}

/* COPY RODAPÉ */

.container--copy-brand {
  justify-content: center;
}

.paragraph--copy-text {
  margin: 0;
  color: #1c1c1c;
  font-size: 12px;
  line-height: 16px;
}

/* DESCRIÇÃO CATEGORIA */
.wrapper--search-description {
  margin-top: 32px;
}
.heading--description-text {
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
  margin: 0 0 24px;
  color: #201F1F;
}
.paragraph--description-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin: 0;
  color: #201F1F;
}
.paragraph--description-text:not(:first-child) {
  margin-top: 24px;
}

.container--label-barra-produtos {
  display: none;
}

/* PÁGINA DO PRODUTO */
.paragraph--shipping-simulator-text {
  font-family: Nunito;
  font-size: 16px;
  font-weight: 400;
  line-height: 21.82px;
  text-align: left;
  color: #000;
  padding-left: 28px; 
  position: relative;
  margin: 0;
  margin-bottom: 16px;
}

.paragraph--shipping-simulator-text::after {
  content: '';
  position: absolute;
  z-index: 0;
  width: 20px;
  height: 20px;
  background: url(assets/icons/icon-frete.svg);
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
}

.wrapper--warning-b2b .paragraph {
  font-family: Nunito;
  font-size: 16px;
  font-weight: 400;
  line-height: 21.82px;
  text-align: left;
  color: #000;
  position: relative;
  padding-left: 28px;
  margin: 0;
}

.wrapper--warning-b2b .paragraph::after {
  content: '';
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0;
  top: 0;
  background-image: url(assets/icons/icon-warning-b2b.svg);
}

.wrapper--warning-b2b .link {
  color: #660066;
  font-weight: 400;
  margin-left: 8px;
}


/* PÁGINAS CMS */
.headingLevel1--cms-page-title {
  font-family: Nunito;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  color: #1C1C1C;
  margin-top: 0;
  margin-bottom: 24px;
}
.heading--cms-page-content {
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  margin: 0 0 16px;
  color: #660066;
}
.paragraph--cms-page-content {
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  margin-top: 0;
  color: #3F3F3F;
}
.listOrdered--cms-page-content,
.list--cms-page-content {
  padding-left: 20px;
}
.listItem--cms-page-content:not(:first-child) {
  margin-top: 16px;
}

.wrapper--subtitle-estilo-cms {
  margin-bottom: 30px;
}

.wrapper--subtitle-estilo-cms .paragraph {
  background-color: #FFCC00;
  padding: 10px 30px;
  font-family: Nunito;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000;
  margin: 0;
  border-radius: 74px;
}

.paragraph--text-quem-somos {
  margin: 0;
  font-size: 14px;
}

.paragraph--text-compromisso {
  font-size: 14px;
}

.paragraph--cta-compromisso {
  font-family: Nunito;
  font-weight: 700;
  font-size: 14px;
  color: #1C1C1C;
  padding: 6px 24px;
  border-radius: 41px;
  border: 1px solid #FF6600;
  cursor: pointer;
}


.paragraph--title-card-oferecemos {
  font-family: Nunito;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #000;
  margin: 0;
  margin-bottom: 16px;
}

.paragraph--text-card-oferecemos {
  font-family: Nunito;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #000;
  margin: 0;
}

.paragraph--title-menu-cms-institucional {
  font-family: Nunito;
  font-weight: 700;
  font-size: 16px;
  color: #1C1C1C;
  line-height: 22px;
  margin: 0;
  margin-bottom: 24px;
}

.paragraph--content-menu-cms-institucional {
  font-family: Nunito;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #666;
  margin: 0;
  margin-bottom: 16px;
}

.link--content-menu-cms-institucional {
  font-weight: 400;
}

:global(.vtex-flex-layout-0-x-flexRow--pagina-nossa-historia) .link--nossa-historia {
  color: #660066;
  font-weight: 700;
  border-bottom: 2px solid #660066;
}

:global(.vtex-flex-layout-0-x-flexRow--pagina-politica-de-frete) .link--politica-de-frete {
  color: #660066;
  font-weight: 700;
  border-bottom: 2px solid #660066;
}

:global(.vtex-flex-layout-0-x-flexRow--pagina-politica-de-cookies) .link--politica-de-cookies {
  color: #660066;
  font-weight: 700;
  border-bottom: 2px solid #660066;
}

:global(.vtex-flex-layout-0-x-flexRow--pagina-politica-de-troca) .link--troca-e-cancelamento {
  color: #660066;
  font-weight: 700;
  border-bottom: 2px solid #660066;
}

:global(.vtex-flex-layout-0-x-flexRow--pagina-termos-e-condicoes) .link--termos-e-condicoes {
  color: #660066;
  font-weight: 700;
  border-bottom: 2px solid #660066;
}

:global(.vtex-flex-layout-0-x-flexRow--pagina-politica-de-privacidade) .link--politica-de-privacidade {
  color: #660066;
  font-weight: 700;
  border-bottom: 2px solid #660066;
}

:global(.vtex-flex-layout-0-x-flexRow--pagina-termos-lista) .link--termos-lista-de-presentes {
  color: #660066;
  font-weight: 700;
  border-bottom: 2px solid #660066;
}

:global(.vtex-flex-layout-0-x-flexRow--pagina-relatorio-de-transparencia) .link--relatorio-de-transparencia {
  color: #660066;
  font-weight: 700;
  border-bottom: 2px solid #660066;
}

:global(.vtex-flex-layout-0-x-flexRow--pagina-nossas-lojas) .link--nossas-lojas {
  color: #660066;
  font-weight: 700;
  border-bottom: 2px solid #660066;
}

:global(.vtex-flex-layout-0-x-flexRow--pagina-para-empresas) .link--para-empresas {
  color: #660066;
  font-weight: 700;
  border-bottom: 2px solid #660066;
}

.wrapper--titulo-pagina-cms .headingLevel1 {
  font-family: Nunito;
  font-weight: 700;
  font-size: 20px;
  color: #1C1C1C;
  margin: 0;
  margin-bottom: 30px;
  line-height: 27px;
}

/*LOJAS PARCEIRAS*/
.wrapper--conteudo-linha .paragraph--conteudo-linha {
  font-size: 14px;
  line-height: 18px;
  color: #666666;
}
.paragraph--conteudo-linha .link {
  color: #000000;
  font-size: 12px;
  line-height: 15px;
  text-decoration: underline;
}
/*FIM LOJAS PARCEIRAS*/

/*BREADCRUMB CMS*/
.paragraph--cmsbread2 {
  color: #1e1e1e;
  font-size: 12px;
  line-height: 16px;
  padding-left: 10px;
  margin: 0;
  position: relative
}
.paragraph--cmsbread2::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8' fill='none'%3E%3Cmask id='mask0_194_8324' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='8' height='8'%3E%3Crect x='8' y='8' width='8' height='8' transform='rotate(180 8 8)' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_194_8324)'%3E%3Cpath d='M2.66667 0.666676L6 4.00001L2.66667 7.33334L2.075 6.74168L4.81667 4.00001L2.075 1.25834L2.66667 0.666676Z' fill='%23767676'/%3E%3C/g%3E%3C/svg%3E");
  line-height: 0;
  line-height: 0;
  position: absolute;
  left: -4px;
  top: 4px
}
.link--cmstopo {
  font-size: 0;
  padding-left: 20px;
}

.paragraph--cmstopo {
  position: relative;
  margin: 0;
}

.link--cmstopo::before {
  content: '';
  position: absolute;
  z-index: 0;
  width: 57px;
  height: 18px;
  background: url(assets/icons/icon-breadcrumb-full.svg);
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
}

@media (max-width: 1199px) {
  .paragraph--newsletter-cta {
    font-size: 14px;
  }
}

@media (max-width: 1025px) {
  .heading--shelf-title {
    margin: 0;
    font-size: 20px;
    line-height: 26px;
  }

  .container--newsletter-cta {
    justify-content: center;
  }
  .paragraph--newsletter-cta {
    padding: 0;
  }

  .container--copy-brand {
    justify-content: center;
  }

  .paragraph--brand-resume {
    margin: 32px 0 42px;
  }

  .container--footer-title,
  .container--sac-group-title {
    justify-content: center;
  }
  .heading--footer-title {
    margin: 0 0 16px;
  }

  .container--cms-link,
  .container--sac-group-link {
    justify-content: center;
  }

  .container--copy-text {
    justify-content: center;
  }
}

@media (max-width: 767px) {
  .container--store-info {
    justify-content: center;
  }

  .paragraph--text-topbar {
    font-size: 12px;
    max-width: 238px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .paragraph--newsletter-cta {
    margin-bottom: 6px;
  }
  .wrapper--search-description {
    margin-top: 56px;
  }

  .paragraph--newsletter-cta {
    max-width: 100%;
    font-size: 16px;
    margin-bottom: 0;
  }

  .container--footer-title,
  .container--sac-group-title {
    justify-content: flex-start;
  }

  .container--cms-link,
  .container--sac-group-link {
    justify-content: flex-start;
  }

  .paragraph--copy-text {
    text-align: center;
  }
}