.container {
  padding: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

:global(.vtex-flex-layout-0-x-flexCol--search-bread-content) {
  padding: 24px 0;
}

.homeIcon {
  display: inline-block;
  width: 18px;
  height: 18px;
  opacity: 0;
}

.homeLink {
  padding: 0;
  line-height: 0;
  position: relative;
  width: 57px;
}

.homeLink::after {
  content: '';
  position: absolute;
  z-index: 0;
  width: 57px;
  height: 18px;
  background: url(assets/icons/icon-breadcrumb-full.svg);
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
}

.link {
  font-size: 12px;
  line-height: 16px;
  color: #1C1C1C;
}
.link:hover {
  color: #000;
}

.arrow--breadcrumb-search:not(:first-child) {
  padding-left: 8px;
}
.term {
  font-size: 12px;
  line-height: 0;
  color: #1C1C1C;
}

.link::first-letter,
.term::first-letter {
  text-transform: uppercase;
}

/* @media (max-width: 1025px) {
  .homeIcon {
    display: none;
  }
  .homeLink::before {
    content: "Home";
  }
  .arrow .link {
    color: #202020;
  }
} */