.paginationDot {
  background: #A2A2A2;
  margin: 0 2px;
  transition: all .3s ease-in-out;
}
.paginationDot--main-slider--isActive {
  background: #003030;
}

.sliderArrows {
  background: #EEEEEE !important;
  color: #1C1B1F;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  border-radius: 100%;
}
.sliderLeftArrow--main-slider {
  left: -1.5rem;
}
.sliderRightArrow--main-slider {
  right: -1.5rem;
}

/* SLIDER PRINCIPAL */
.paginationDotsContainer--main-slider {
  bottom: 24px;
}
.imageElement--main-slider {
  max-height: none !important;
}

/* SLIDER PRODUTOS */
.slide--shelf-carousel {
  margin: 0 14px;
}
.sliderArrows--shelf-carousel {
  width: 40px;
  height: 40px;
  top: 50%;
  transform: translate(0, -50%);
}
.sliderLeftArrow--shelf-carousel {
  left: 0;
}
.sliderRightArrow--shelf-carousel {
  right: 0;
}

@media (max-width: 1199px) {
  .sliderLeftArrow--shelf-carousel {
    left: 0;
  }
  .sliderRightArrow--shelf-carousel {
    right: 0;
  }
}

@media (max-width: 1025px) {
  .sliderArrows {
    width: 40px;
    height: 40px;
  }
  .sliderLeftArrow--main-slider,
  .sliderLeftArrow--shelf-carousel {
    left: 15px;
  }
  .sliderRightArrow--main-slider,
  .sliderRightArrow--shelf-carousel {
    right: 15px;
  }
  .paginationDotsContainer--main-slider {
    bottom: 14px;
  }
}

@media (max-width: 767px) {
  .sliderArrows--shelf-carousel {
    top: 42%;
    transform: translate(0, -42%);
  }
}
