.productImageContainer {
    margin-right: 25px;
  }
  
  .productName {
    font-size: 14px;
    line-height: 17px;
    max-width: 223px;
    width: 100%;
    display: block;
    margin-bottom: 16px;
    color: #1c1c1c;
    font-weight: 400;
  }
  
  .deleteIcon {
    display: none;
  }
  .removeButton::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cmask id='mask0_155_2740' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='20' height='20'%3E%3Crect width='20' height='20' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_155_2740)'%3E%3Cpath d='M5.8335 17.5C5.37516 17.5 4.9828 17.3368 4.65641 17.0104C4.33002 16.684 4.16683 16.2917 4.16683 15.8333V5H3.3335V3.33333H7.50016V2.5H12.5002V3.33333H16.6668V5H15.8335V15.8333C15.8335 16.2917 15.6703 16.684 15.3439 17.0104C15.0175 17.3368 14.6252 17.5 14.1668 17.5H5.8335ZM14.1668 5H5.8335V15.8333H14.1668V5ZM7.50016 14.1667H9.16683V6.66667H7.50016V14.1667ZM10.8335 14.1667H12.5002V6.66667H10.8335V14.1667Z' fill='%23696969'/%3E%3C/g%3E%3C/svg%3E");
    line-height: 0;
  }
  
  .quantitySelectorIncrease::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 10 10' fill='none'%3E%3Cpath d='M5 9.25C4.75265 9.25 4.56151 9.18254 4.42659 9.04762C4.29167 8.90145 4.22421 8.7047 4.22421 8.45734V5.69147H1.50893C1.27282 5.69147 1.0873 5.62963 0.952381 5.50595C0.81746 5.37103 0.75 5.18552 0.75 4.9494C0.75 4.71329 0.81746 4.5334 0.952381 4.40972C1.0873 4.2748 1.27282 4.20734 1.50893 4.20734H4.22421V1.52579C4.22421 1.27844 4.29167 1.0873 4.42659 0.95238C4.56151 0.81746 4.75827 0.75 5.01687 0.75C5.26422 0.75 5.44974 0.81746 5.57341 0.95238C5.70833 1.0873 5.77579 1.27844 5.77579 1.52579V4.20734H8.49107C8.73843 4.20734 8.92394 4.2748 9.04762 4.40972C9.18254 4.5334 9.25 4.71329 9.25 4.9494C9.25 5.18552 9.18254 5.37103 9.04762 5.50595C8.92394 5.62963 8.73843 5.69147 8.49107 5.69147H5.77579V8.45734C5.77579 8.7047 5.70833 8.90145 5.57341 9.04762C5.44974 9.18254 5.2586 9.25 5 9.25Z' fill='%231C1E21'/%3E%3C/svg%3E");
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 1px;
}

.quantitySelectorIncrease:hover,
.quantitySelectorDecrease:hover {
  background-color: #FF6600 !important;
}

.quantitySelectorDecrease::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='3' viewBox='0 0 8 3' fill='none'%3E%3Cpath d='M1.80573 2.53503C1.50212 2.53503 1.24682 2.43843 1.03981 2.24522C0.846603 2.03821 0.75 1.78981 0.75 1.5C0.75 1.19639 0.846603 0.947981 1.03981 0.754775C1.24682 0.561569 1.50212 0.464966 1.80573 0.464966H6.21497C6.50478 0.464966 6.74628 0.561569 6.93949 0.754775C7.1465 0.947981 7.25 1.19639 7.25 1.5C7.25 1.78981 7.1465 2.03821 6.93949 2.24522C6.74628 2.43843 6.50478 2.53503 6.21497 2.53503H1.80573Z' fill='%231C1E21'/%3E%3C/svg%3E");
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 4px;
}

.quantitySelectorWrapper {
    position: relative;
    z-index: 0;
    background: #fff;
    border: 1px solid #EEEEEE;
    border-radius: 2px;
    width: 35px;
    height: 42px;
}

.quantitySelectorButton {
    position: absolute;
    z-index: 1;
    padding: 1px;
    border: 0;
    right: -24px;
    background: #FF6600;
    border-radius: 2px;
    width: 20px;
    height: 20px
}

.quantitySelectorIncrease {
    top: -1px
}

.quantitySelectorDecrease {
    bottom: -1px
}

.inputContainer {
    padding: 0;
    width: 22px !important;
    border: 0
}
  
  .productPriceCurrency {
    margin: 0;
    font-size: 12px;
    line-height: 16px;
    color: #a8a8a8;
  }
  .price {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: #000;
    font-weight: 700;
  }
  
  @media (max-width: 639px) {
    .productName {
      font-size: 12px;
      line-height: 15px;
    }
    .productImageContainer {
      margin-right: 17px;
    }
    .price {
      font-weight: 700;
    }
  }
  
  @media screen and (max-width: 39.9em) {
    .quantitySelector {
      width: initial;
    }
  }