.paginationDot {
  background: #A2A2A2;
  margin: 0 2px;
  transition: all .3s ease-in-out;
}
.paginationDot--main-slider--isActive {
  background: #003030;
}

.sliderArrows {
  background: #EEEEEE !important;
  color: #1C1B1F;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  border-radius: 100%;
  transition: all .3s ease-in-out;
}
.sliderArrows:hover {
  background: #CCCCCC !important;
}
.sliderLeftArrow--main-slider {
  left: -1.2rem;
}
.sliderRightArrow--main-slider {
  right: -1.2rem;
}

.sliderLeftArrow .caretIcon {
  height: 15px;
  width: 15px;
  position: relative;
  left: 2px;
}

.sliderRightArrow .caretIcon {
  height: 15px;
  width: 15px;
  position: relative;
  right: -5px;
}

/* SLIDER PRINCIPAL */
.paginationDotsContainer--main-slider {
  bottom: 24px;
  display: none;
}
.imageElement--main-slider {
  max-height: none !important;
}

/* SLIDER CATEGORIAS */
.slide--category {
  margin: 0 7.5px;
}
.sliderArrows--category {
  width: 28px;
  height: 28px;
  top: 32px;
}

.sliderLeftArrow--category {
  left: -6px;
}

.sliderRightArrow--category {
  right: -6px;
}

/* SLIDER PRODUTOS */
.slide--shelf-carousel {
  margin: 0 14px;
}
.sliderArrows--shelf-carousel {
  width: 40px;
  height: 40px;
  top: 50%;
  transform: translate(0, -50%);
}
.sliderLeftArrow--shelf-carousel {
  left: 0;
}
.sliderRightArrow--shelf-carousel {
  right: 0;
}

@media (max-width: 1199px) {
  .sliderLeftArrow--shelf-carousel {
    left: 0;
  }
  .sliderRightArrow--shelf-carousel {
    right: 0;
  }
}

@media (max-width: 1199px) {
  .sliderArrows {
    width: 30px;
    height: 30px;
  }
    .sliderLeftArrow--main-slider {
      left: -10px;
    }
    .sliderRightArrow--main-slider {
      right: -10px;
    }
    
  .sliderLeftArrow--shelf-carousel {
    left: 8px;
  }
  .sliderRightArrow--shelf-carousel {
    right: 8px;
  }
}

@media (max-width: 767px) {
  .sliderArrows--shelf-carousel {
    top: 42%;
    transform: translate(0, -42%);
  }

  .slide--shelf-carousel {
    margin: 0 8px;
  }

  .sliderTrackContainer--main-slider {
    border-radius: 15px;
  }

  .sliderTrack--upper-mosaic {
    gap: 16px;
  }
}
