/* GERAL */
.container {
  padding: 0;
}
.imageElementLink {
  display: inline-block;
  line-height: 0
}
.paragraph {
  color: #202020;
}

.imageElement--image__display-banner,
.imageElement--main-slider {
  border-radius: 8px;
}

:global(.vtex-toast) {
  background: #609000;
  box-shadow: 0px 4px 4px 0px #00000026;
  border-radius: 45px;
  padding: 5px 20px;
  position: relative;
  padding-left: 40px;
}

:global(.vtex-toast)::before {
  content: '';
  background-image: url('assets/icons/check-toast.svg');
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translate(0, -50%);
  width: 15px;
  height: 15px;
  background-size: cover;
}

.discountContainer {
  width: 100%;
}

.pointerEventsAuto {
  text-align: initial;
}

/* LOGO */
.logoContainer {
  display: inline-block;
  padding: 0;
}

/* BARRA DE PESQUISA */
.searchBarContainer {
  padding: 0;
  min-width: 412px;
}
.searchBarContainer :global(.vtex-input-prefix__group) {
  height: initial;
  border: 1px solid #FF6600;
  border-radius: 500px;
  flex-direction: row-reverse;
}
.searchBarContainer :global(.vtex-input__suffix) {
  padding: 0
}
.searchBarContainer :global(.vtex-styleguide-9-x-input) {
  font-size: 16px;
  border-radius: 0;
  padding: 0;
  line-height: 21.82px;
}
.searchBarContainer :global(.vtex-styleguide-9-x-input)::placeholder {
  color: #A2A2A2;
}
.searchBarIcon {
  color: #FF6600;
  padding: 11px 20px 13px
}

/* LOCATION */
.userAddressContainer {
  width: 100px;
  margin: 0;
  background: transparent;
  padding: 0;
  overflow: hidden;
}
.addressInfoIconContainer,
.addressInfoAddressContainer {
  color: #1E1E1E;
}
.addressInfoAddressContainer {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  line-height: 18px;
}
.addressInfoAddressContainer::after {
  content: 'Alterar';
  color: #FF6712;
  font-weight: 700;
  text-decoration: underline;
}

/* LINHA CONDIÇÕES ABAIXO DO BANNER PRINCIPAL */
.infoCardCallActionContainer--info-card-condition {
  display: none;
}
.infoCardContainer--info-card-condition {
  display: flex;
  padding: 0;
  gap: 10px;
  justify-content: initial;
}
.infoCardTextContainer--info-card-condition,
.infoCardImageContainer--info-card-condition {
  width: fit-content;
  max-width: max-content;
  padding: 0;
}
.infoCardImageContainer--info-card-condition {
  line-height: 0;
}
.paragraph--info-card-condition {
  margin: 0;
  font-size: 14px;
  line-height: 18px;
}
.strong--info-card-condition {
  font-weight: 700;
}

/*MENU CATEGORIAS RÁPIDO*/
.paragraph--info-card-catmenu,
.infoCardCallActionText {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #1e1e1e;
  margin: 0;
  text-decoration: none;
}
.infoCardCallActionContainer {
  text-decoration: none;
  margin: 0;
}
.infoCardContainer--info-card-catmenu {
  display: flex;
  flex-direction: column-reverse;
  padding: 0;
  gap: 16px;
}
.infoCardImageContainer--info-card-catmenu {
  width: 100%;
  line-height: 0;
}
.infoCardTextContainer--info-card-catmenu {
  width: 100%;
  padding: 0;
  max-height: 36px;
  overflow: hidden;
  text-align: center;
  align-items: center;
}
/*FIM MENU CATEGORIAS RÁPIDO*/

/* CARD PRODUTO */
.discountInsideContainer {
  left: 0;
  right: unset;
  top: -11px;
  background: #FFCC00;
  font-size: 14px;
  padding: 2px 10px;
  line-height: 18px;
  color: #1C1C1C;
  border-radius: 47px;
}

/* BANNER CATEGORIA */

.imageElement--category-banner {
  border-radius: 4px;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100% !important;
}

/* PÁGINA DO PRODUTO */
.carouselGaleryThumbs {
  width: 100% !important;
  max-width: 90px;
}
.productImagesThumb:not(:first-child) {
  margin-top: 6px;
}

.productNameContainer {
  font-family: Nunito;
  font-size: 24px;
  font-weight: 600;
  line-height: 32.74px;
  text-align: left;
  color: #000;
  max-width: 308px;
  width: 100%;
}

.productBrandName {
  font-family: Nunito;
  font-size: 12px;
  font-weight: 700;
  line-height: 16.37px;
  text-align: left;
  color: #666;
}

.shippingContainer {
  display: flex;
  align-items: flex-start;
  width: 100%;
  max-width: 350px;
  margin-bottom: 0;
}
.shippingContainer :global(.vtex-input__label) {
  display: none;
}
.shippingContainer :global(.vtex-address-form__postalCode) {
  width: 100%;
  padding: 0;
}
.shippingContainer :global(.vtex-input-prefix__group) {
  height: 35px;
  border: 0;
  border-radius: 59px;
  background-color: #ECECEC;
  max-width: 240px;
  width: 100%;
}

.shippingContainer :global(.vtex-address-form-4-x-input) {
  width: 100%;
  border-radius: 59px;
  background-color: #ECECEC;
}

.shippingContainer :global(.vtex-input__suffix) {
  display: none;
}

.shippingContainer :global(.vtex-button) {
  height: 35px;
  max-width: 102px;
  border: 1px solid #FF6600;
  border-radius: 41px;
  background-color: #fff;
  cursor: pointer;
  transition: all .4s;
}
.shippingContainer :global(.vtex-button):hover {
  background: #FF6600;
}
.shippingContainer :global(.vtex-button__label) {
  font-size: 0;
}
.shippingContainer :global(.vtex-button__label)::before {
  content: "Calcular";
  font-family: Nunito;
  font-size: 14px;
  font-weight: 700;
  line-height: 19.1px;
  text-align: center;
  color: #1C1C1C;
  text-transform: capitalize;
}
.shippingContainer :global(.vtex-address-form__postalCode-forgottenURL) {
  padding-top: 12px;
  font-family: Nunito;
  font-size: 12px;
  font-weight: 400;
  line-height: 16.37px;
  text-align: left;
  color: #666666;
  position: relative;
  display: flex;
  max-width: fit-content;
  padding-right: 12px;
  padding-bottom: 1px;
  border-bottom: 1px solid #666;
}

.shippingContainer :global(.vtex-address-form__postalCode-forgottenURL)::after {
  content: '';
  position: absolute;
  z-index: 0;
  width: 12px;
  height: 12px;
  background: url(assets/icons/icon-externo.svg);
  top: 13px;
  right: 0;
  background-size: contain;
  background-repeat: no-repeat;
  color: #666666;
}

.shareContainer {
  display: flex;
  align-items: center;
  gap: 4px;
  flex-direction: row-reverse;
}
.shareLabel {
  margin: 0;
  color: #5d5d5d;
  font-size: 12px;
}
.shareSocialButton {
  display: inline-block;
  line-height: 0 !important;
  margin: 0;
}

.shareSocialButton--whatsapp {
  position: relative;
  width: 90px;
  left: 76px;
  bottom: 1px;
}

.shareSocialButton--whatsapp::after {
  content: '';
  position: absolute;
  z-index: 0;
  width: 14px;
  height: 14px;
  background: url(assets/icons/icon-share-wpp.svg);
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
}
.shareSocialButton:hover {
  opacity: 1;
}

.shareSocialIcon--whatsapp {
  opacity: 0;
}

.shareSocialButton:not(:first-child) {
  margin-left: 8px;
}

.productImagesThumb {
  margin: 0;
  border: 1px solid #ECECEC;
  transition: all .3s ease-in-out;
  border-radius: 6px;
}
.productImagesThumb:hover,
.productImagesThumbActive {
  border-color: #660066;
}
.thumbImg {
  max-width: 90px;
  max-height: 90px;
  width: 100%;
  height: auto;
  object-fit: contain;
  aspect-ratio: 1/1;
  border-radius: 6px;
}
.carouselGaleryCursor {
  padding: 0;
  margin-left: 107px;
  width: 100%;
  max-width: 574px;
}

.productDescriptionTitle {
  display: inline-block;
  margin: 0;
  background: #FFFFFF;
  font-size: 16px;
  line-height: 22px;
  padding-left: 28px;
  position: relative;
  margin-bottom: 16px;
}

.productDescriptionTitle::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  background-image: url(assets/icons/icon-description.svg);
}

.productDescriptionText {
  background: #FFFFFF;
  font-size: 14px;
  line-height: 18px;
  color: #3F3F3F;
}
.container--product-description .fadeBottom {
  background: none;
}
.showMoreButton--product-description {
  margin: 16px 0 0;
  padding: 0;
  background: none;
  color: #1C1C1C;
  font-size: 14px;
  font-weight: 700;
  text-transform: initial;
  border-bottom: 1px solid #1C1C1C;
}

.imageElement--icon-newsletter {
  max-width: 149px;
  width: 100%;
}

/* Páginas CMS Institucionais */

.imageElement--img-quem-somos-2 {
  margin-top: 25px;
}

/* Fim Páginas CMS Institucionais */

@media (max-width: 1199px) {
  .paragraph--info-card-condition {
    font-size: 14px;
    line-height: 16px;
  }
}

@media (max-width: 1025px) {
  .carouselGaleryCursor {
    margin: 0;
    max-width: 100%;
  }
  .productImagesThumb {
    width: initial !important;
  }
  .thumbImg {
    max-width: 88px;
    max-height: 88px;
  }

  .searchBarIcon {
    padding: 8px 4px 9px 24px;
  }
  .logoContainer {
    max-width: 125px;
  }
  .searchBarContainer {
    max-width: 100%;
    min-width: 100%;
  }
  .searchBarContainer :global(.vtex-input-prefix__group) {
    box-shadow: none;
  }
  .searchBarContainer :global(.vtex-styleguide-9-x-input) {
    padding-left: 6px;
    padding-right: 44px;
  }
  .userAddressContainer {
    width: 100%;
  }
  .locationMarkerIcon {
    width: 16px;
    height: 16px;
  }
  .addressInfoAddressContainer {
     flex-direction: initial;
     gap: 8px;
     font-size: 12px;
     line-height: 15px;
  }

  .infoCardContainer--info-card-catmenu {
    gap: 8px;
  }

  .carouselGaleryThumbs--pdp {
    display: block;
    max-width: initial;
    margin-top: 16px;
  }
  .productImagesThumb:not(:first-child) {
    margin-top: 0;
    margin-left: 10px;
  }

  .discountInsideContainer {
    left: 0;
    top: 0;
  }
}

@media (max-width: 767px) {
  .infoCardTextContainer--info-card-catmenu {
    align-items: center;
    padding: 0;
  }

  .imageElementLink--image__display-banner {
    width: 100%;
  }

  .imageElement--image__display-banner {
    width: 100%;
  }
}
