:global(.vtex-flex-layout-0-x-flexRowContent--wrapper-highlights) :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
    display: flex;
    gap: 4px;
    flex-wrap: wrap;
    justify-content: left;
}

.productHighlightWrapper {
    color: #fff;
    background-color: #660066;
    border-radius: 47px;
    padding: 2px 8px;
    font-family: Nunito;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    max-width: max-content;
    display: inline-block;
}

:global(.vtex-flex-layout-0-x-flexRow--leve-mais){
 
    border-radius: 47px;
    font-family: Nunito;
    font-weight:700;
    font-size: 12px;
    line-height: 16px;
    max-width: max-content;
    display: inline-block;
}

.productHighlightWrapper[data-highlight-name="%"] {
    color: #1c1c1c;
    background-color: #FFCC00;
}
.productHighlightWrapper[data-highlight-id="191"] {
    background-image: url(assets/icons/tag-black.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 0;
    min-width: 100px;
}